body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-link {
  color: #000000 !important;
}
.nav-link:hover {
  color: rgb(187, 40, 17) !important;
}

/* .navbar {
  position: sticky !important;
  display: flex;
  flex-wrap: wrap;
  background: rgb(247, 248, 247);
  z-index: 100;
  box-shadow: rgba(170, 159, 170, 0.2) 0px 7px 7px -5px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
} */
